@use "../abstracts/variables" as *;
footer {
  background-color: $background-card;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $spacing-xl;
  span {
    color: $text-secondary;
  }
}
