@use "../abstracts/variables" as *;

.movie-card {
  width: 100%;
  height: 457px;
  background-color: $background-card;
  border-radius: $border-radius;
  overflow: hidden;
  cursor: pointer;
  position: relative;

  &:hover {
    border-color: $primary-color;
    background-color: $primary-color;
  }
}
