@use "../abstracts/variables" as *;

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $background-color;
  color: $text-color;
  font-family: "Findflix", sans-serif;
}
h1 {
  font-size: clamp(1.8rem, 5vw, 2.5rem);
}
p {
  font-size: clamp(1rem, 3vw, 1.5rem);
}

@keyframes spin {
  to {
    transform: rotate(180deg);
  }
}