@use "../abstracts/variables" as *;

body {
  background-color: $background-color;
  color: $text-color;
  font-family: "Findflix", sans-serif;
}
h1 {
  font-size: clamp(1.8rem, 5vw, 2.5rem);
}
p {
  font-size: clamp(1rem, 3vw, 1.5rem);
}