@font-face {
  font-family: "Findflix";
  src: url("../../assets/fonts/NetflixSans-Light.otf") format("otf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Findflix";
  src: url("../../assets/fonts/NetflixSans-Regular.otf") format("otf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Findflix";
  src: url("../../assets/fonts/NetflixSans-Bold.otf") format("otf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
