// Cores
$primary-color: #e50914;
$secondary-color: #221f1f;
$accent-color: #d72036;
$background-color: #09090b;
$background-transparent: #09090b00;
$background-card: #131619;
$text-color: #ffffff;
$text-secondary: #ffffffb3;
$text-placeholder: #ffffff80;
$border-color: #dddddd;

$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;

$text-sm: 14px;
$text-base: 16px;
$text-lg: 20px;
$text-xl: 24px;

$border-radius: 16px;
$border-radius-sm: 8px;
$border-radius-lg: 24px;

$breakpoint-sm: 425px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;

$z-loader: 5;
$z-overlay: 10;
$z-modal: 15;
$z-intro: 50;
